# Frontend
frontend/node_modules/
frontend/build/
frontend/.env

# Backend
backend/__pycache__/
backend/.venv/
backend/credentials.json
backend/*.db
backend/audio_files/
backend/test_audio/
backend/vggish_manual/
backend/yamnet_model/

# General
*.pyc
.DS_Store